<% include partial/header %>
<div>
	<li><a href="/hospitals/aster/sexologist">SEXOLOGIST</a></li>
	<li><a href="/hospitals/aster/dentist">DENTIST</a></li>
	<li><a href="/hospitals/aster/dermatologist">DERMATOLOGIST</a></li>
	<li><a href="/hospitals/aster/pyschiatrist">PYSCHIATRIST</a></li>
	<li><a href="/hospitals/aster/cardialogist">CARDIALOGIST</a></li>
	<li><a href="/hospitals/aster/ortho">ORTHO</a></li>
	<li><a href="/hospitals/aster/nuerologist">NUEROLOGIST</a></li>
	
</div>
<% include partial/footer %>