<% include partial/header %>
<div>
	<li class="row center card blue  lighten-4"><h5><a href="/hospitals/fortis/sexologist">CARDIALOGIST</a></h5></li>
<li class="row center card blue  lighten-4"><h5><a href="/hospitals/fortis/dentist">DENTIST</a></h5></li>
	<li class="row center card blue  lighten-4"><h5><a href="/hospitals/fortis/dermatalogist">DERMATOLOGIST</a></h5></li>
	<li class="row center card blue  lighten-4"><h5><a href="/hospitals/fortis/pyschiatrist">PYSCHIATRIST</a></h5></li>
	<li class="row center card blue  lighten-4"><h5><a href="/hospitals/fortis/sexologist">SEXOLOGIST</a></h5></li>
<li class="row center card blue  lighten-4"><h5><a href="/hospitals/fortis/orthologist">ORTHO</a></h5></li>
<li class="row center card blue  lighten-4"><h5><a href="/hospitals/fortis/cardi">NUEROLOGIST</a></h5></li>
	
</div>
<% include partial/footer %>