<% include ./partial/header %>
<div class="container">
	<header class="jumbotron" class="text-center">
		<div class="container">
			<p>
				View our HandPicked best doctors 	
			</p>
			
		</div>
	</header>
	<div class="row" style="display:flex;flex-wrap:wrap;">
		<% doctors.forEach(function(doctor){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= doctor.image %>">
				<div class="caption">
					<h6>
						<%= doctor.name %>
					</h6>
				</div>
				<p>
					<a href="/hospitals/fortis/sexologist/<%= doctor._id %>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
		<% }); %>
	</div>
</div>
<% include ./partial/footer %>
					