<% include partial/header %>
<div class="container" style="margin: 0 auto;text-align:center">
	<div class="card" style="width: 18rem; margin: 0 auto;">
  <img class="card-img-top" src="https://ichef.bbci.co.uk/news/660/cpsprodpb/1602B/production/_109055109_gettyimages-538726573.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Book Appointments For The Best Hospitals In The City.</p>
    <a href="/hospitals" class="btn btn-primary">See The List Of Hospitals</a>
  </div>
</div>
</div>
<% include partial/footer %>