<% include partial/header %>

    <img style="width:100%;height:80%;" src="https://www.closer.ac.uk/wp-content/uploads/hospital-corridor-1024x500.jpg">
<center><a style="margin-top:-50%;" class="waves-effect waves-light btn btn-large" href="/hospitals"><h5>See Hospitals</h5></a></center>        
<% include partial/footer %>