<% include partial/header %>
<div>
	<li><a href="/hospitals/fortis">FORTIS HOSPITAL</a></li>
	<li><a href="/hospitals/aster">ASTER CMI HOSPITAL</a></li
	<li><a href="/hospitals/apollo">APOLLO HOSPITAL</a></li>
	<li><a href="/hospitals/sgpgi">S.G.P.G.I. HOSPITAL</a></li>
	<li><a href="/hospitals/sahara">SAHARA HOSPITAL</a></li>
	<li><a href="/hospitals/mayo">MAYO HOSPITAL</a></li>
	<li><a href="/hospitals/kgmu">K.G.M.U. HOSPITAL</a></li>
</div>
<% include partial/footer %>