<% include partial/header %>
<div class="col card">
<div>
	<li class="row center card blue  lighten-4"><h4><a href="/hospitals/fortis">FORTIS HOSPITAL</a></h4></li>
	<li class="row center card blue  lighten-4"><h4><a href="/hospitals/aster">ASTER CMI HOSPITAL</a></h4></li>
	<li class="row center card blue  lighten-4"><h4><a href="/hospitals/apollo">APOLLO HOSPITAL</a></h4></li>
	<li class="row center card blue  lighten-4"><h4><a href="/hospitals/sgpgi">S.G.P.G.I. HOSPITAL</a></h4></li>
	<li class="row center card blue  lighten-4"><h4><a href="/hospitals/sahara">SAHARA HOSPITAL</a></h4></li>
<li class="row center card blue  lighten-4"><h4><a href="/hospitals/mayo">MAYO HOSPITAL</a></h4></li>
<li class="row center card blue  lighten-4"><h4><a href="/hospitals/kgmu">K.G.M.U. HOSPITAL</a></h4></li>
</div>
</div>
<% include partial/footer %>