<h1>
	AUTHORITY LOGIN
</h1>
<form action="/login/doct" method="POST">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<button>
		Login
	</button>
</form>