<% include ./partial/header.ejs %>
<h1>
	LOGIN PAGE
</h1>
<form action="/" method="POST">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<button>
		Login
	</button>
</form>
<div>
	<a href="/register"> 
	Or SignUp
	</a>
	<br>
	<a href="/login/doct">
	Or If Doctor/Barber
	</a>
</div>
<% include ./partial/footer.ejs %>