<% include partial/header %>
<div>
	<li><a href="/hospitals/sgpgi/sexologist">SEXOLOGIST</a></li>
	<li><a href="/hospitals/sgpgi/dentist">DENTIST</a></li>
	<li><a href="/hospitals/sgpgi/dermatologist">DERMATOLOGIST</a></li>
	<li><a href="/hospitals/sgpgi/pyschiatrist">PYSCHIATRIST</a></li>
	<li><a href="/hospitals/sgpgi/cardialogist">CARDIALOGIST</a></li>
	<li><a href="/hospitals/sgpgi/ortho">ORTHO</a></li>
	<li><a href="/hospitals/sgpgi/nuerologist">NUEROLOGIST</a></li>
	
</div>
<% include partial/footer %>